@import url(https://fonts.googleapis.com/css?family=Khula:700);
html {
  overflow: hidden !important;
}
body {
  background: #111;
}
.console-container {
  font-family: Khula;
  font-size: 2.5em;
  color: rgb(255, 255, 255);
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
.container-height {
  height: 100vh;
}
.main-container {
  background-image: linear-gradient(to bottom, #35916c, #223c5c);
}
.menu-container {
  background-image: linear-gradient(to top, #35916c, #223c5c);
}
.btn-cls {
  font-size: 2em !important;
  background-color: #e1e1e1 !important;
  color: black !important;
}
.main-card {
  background-color: rgba(0, 0, 0, 0.303) !important;
  border-radius: 0 0 25px 25px !important;
  box-shadow: none !important;
  color: white !important;
  overflow-x: auto !important;
}
.card-container {
  max-width: 1500px !important;
}
.layout-parent {
  max-width: 1600px !important;
}
::-webkit-scrollbar {
  width: 0px;
}
.custom-click {
  outline: none !important;
}
