@media only screen and (max-width: 600px) {
  .card-container {
    max-width: 300px !important;
    margin-bottom: 10px !important;
  }
  .layout-parent {
    max-width: 400px !important;
    max-height: 700px !important;
  }
  .custom-click {
    outline: none !important;
    margin-bottom: 8px !important;
  }
  .pageButtons {
    margin-top: 15px !important;
  }
  .main-card {
    max-height: 600px !important;
  }
}
